@font-face {
  font-family: domain;
  src: url(./domain.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  background: #222;
  overflow-x: hidden;
}
#page1 {
  height: 120vh;
  width: 100vw;
  background: #c3bbb2;
  position: relative;
  overflow: hidden;
}

#nav {
  height: 85px;
  width: 100%;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}

#nav img {
  height: 25px;
  width: 30%;
}

#nav h5 {
  font-size: 15px;
  font-weight: 100;
  width: 30%;
}

#nav i {
  width: 30%;
  text-align: right;
}

#elems {
  /* background: Red; */
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}

#elem1 {
  width: 30%;
  height: 100%;
  /* background: blue; */
}
#elem2 {
  width: 35%;
  height: 100%;
  /* background: blue; */
  padding: 20px 60px;
  text-align: center;
  border-right: 2px solid #a5a5a5;
  border-left: 2px solid #a5a5a5;
}
#elem3 {
  width: 30%;
  height: 100%;
  /* background: blue; */
}

#elem1 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}

#image-div:hover img {
  scale: 1.1;
}
#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.6s;
}

#elem3 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}

#elem1 h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: canopee;
}
#elem1 h4 span {
  background-color: #b83c12;
  color: #c3bbb2;
  font-weight: 100;
  font-size: 18px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px;
}

#elem1 p {
  font-size: 20px;
  font-family: 'domain';
  font-weight: 30;
  color: #5d5b5b;
}

#elem3 h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: canopee;
}
#elem3 h4 span {
  background-color: #b83c12;
  color: #c3bbb2;
  font-weight: 100;
  font-size: 18px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px;
}

#elem3 p {
  font-size: 20px;
  font-family: 'domain';
  font-weight: 30;
  color: #5d5b5b;
}

#elem2 h2 {
  font-family: canopee;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: -1px;
}
#elem2 h3 {
  font-family: domain;
  font-size: 45px;
  color: #353535;
  font-weight: 100;
  margin: 10px 0;
}
#elem2 h6 {
  font-family: domain;
  font-size: 20px;
  color: #464541;
  font-weight: 100;
}

#page1 h1 {
  font-size: 550px;
  letter-spacing: -20px;
  font-family: canopee;
  font-weight: 100;
  color: #c3bbb2;
  background-color: #1c1c19;
  line-height: 480px;
  width: 95%;
  margin-left: 2%;
}

#page2 {
  height: 150vh;
  width: 100%;
  background: #c3bbb2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
}

#page2-left {
  height: 100%;
  width: 33%;
  padding-right: 40px;
  border-right: 1px solid #757474;
}
#page2-left h2 {
  font-size: 110px;
  font-family: canopee;
  line-height: 110px;
  font-weight: 100;
  padding: 30px 10px 10px 5px;
  letter-spacing: -2px;
}

#page2-left h2 span {
  font-size: 170px;
  font-weight: 900;
}

#page2-left img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
#page2-left p {
  font-size: 31px;
  font-family: domain;
  color: #2f2f2f;
  margin-top: 20px;
  font-weight: 100;
}
#page2-left p span {
  background-color: #222222;
  font-size: 50px;
  color: #c3bbb2;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}
#page2-right {
  height: 100%;
  width: 70%;
}

#page2-right img {
  height: 50%;
  padding: 0 50px;
  width: 100%;
  object-fit: cover;
}

#page2-right h1 {
  font-family: canopee;
  font-size: 120px;
  letter-spacing: -5px;
  font-weight: 300;
  padding: 50px;
}

#page3 {
  background-color: #c3bbb2;
  position: relative;
  padding-bottom: 10px;
  padding-top: 50px;
  width: 100%;
}

#page3 h1 {
  font-size: 435px;
  font-family: canopee;
  font-weight: 100;
  letter-spacing: -10px;
  margin-left: 2%;
  padding: 0 20px;
  width: fit-content;
  background-color: #1c1c1a;
  color: #c3bbb2;
  line-height: 360px;
}
#page3 img {
  height: 430px;
  position: absolute;
  top: 0;
  right: 2%;
  padding-top: 40px;
}

#page4 {
  height: 140vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #c4bcb3;
}

#page4-left {
  width: 60%;
  height: 100%;
  padding: 30px 50px;
}

#page4-left #page4c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  margin-bottom: 50px;
  /* background-color: red; */
}

#page4-left #page4c #page4-left1 {
  width: 50%;
  height: 100%;
  border-right: 1px solid #464541;
  padding-right: 40px;
}

#page4-left #page4c #page4-left1 h2 {
  font-size: 60px;
  font-family: domain;
  font-weight: 100;
  letter-spacing: -2px;
  padding: 4px;
  line-height: 55px;
}
#page4-left #page4c #page4-left1 p {
  font-size: 35px;
  font-family: domain;
  font-weight: 100;
  padding: 10px 0;
}
#page4-left #page4c #page4-left1 h4 {
  font-family: domain;
  font-weight: 100;
  font-size: 25px;
  padding-top: 10px;
}
#page4-left #page4c #page4-left1 span {
  font-weight: 900;
}

#page4-left #page4c #page4-left2 {
  width: 40%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: center;

  /* background-color: blue; */
}
#page4-left #page4c #page4-left2 #image-div1 {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

#page4-left #page4c #page4-left2 #image-div1:hover img {
  scale: 1.1;
}

#page4-left #page4c #page4-left2 #image-div1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.6s;
}

#page4-left #page4c #page4-left2 h4 {
  font-size: 30px;
  font-family: domain;
  font-weight: 100;
  letter-spacing: -2px;
  line-height: 55px;
}

#page4-left #page4c #page4-left2 P {
  font-size: 20px;
  font-family: domain;
  font-weight: 80;
}

#page4-left {
  width: 65%;
  height: 100%;
  padding: 80px 60px;
}

#page4-left img {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

#page4-right {
  width: 40%;
  height: 95%;
  padding: 30px 50px;
  margin-top: 30px;
  border-left: 1px solid #2f2f2fd2;
}

#page4-right h2 {
  font-size: 90px;
  font-family: domain;
  font-weight: 100;
  letter-spacing: -6px;
}

#page4-right span {
  font-size: 150px;
  font-weight: 100;
  letter-spacing: -6px;
}

#page4-right p {
  font-size: 30px;
  font-family: domain;
  font-weight: 100;
  color: #2f2f2f;
  margin-bottom: 100px;
}

#page4-right #circle {
  height: 220px;
  width: 100%;
  background: #c7beb4;
  border-radius: 50%;
  border: 1px solid #2f2f2fd2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

#circle h1 {
  font-size: 85px;
  font-family: canopee;
  font-weight: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-35%);
  transition: all ease 0.6s;
}
#circle img {
  height: 60px;
  transform: translateX(-120%);
  transition: all ease 0.6s;
}
#circle:hover img {
  transform: translateX(70%);
}
#circle:hover h1 {
  transform: translateX(140%);
}

#page6 {
  height: 150px;
  padding: 20px 0;
  width: 100%;
  background-color: #c4bcb3;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 1px solid #2f2f2f9d;
  border-bottom: 1px solid #2f2f2f;
}

#page6::-webkit-scrollbar {
  display: none;
}

#page6 h1 {
  font-size: 80px;
  font-family: domain;
  font-weight: 100;
  display: inline-block;
  animation-timing-function: linear;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#page6 span {
  font-family: canopee;
  background-color: #1c1c19;
  color: #c5bdb3;
  padding: 0px 10px;
}

#page7 {
  height: 100px;
  width: 100%;
  background-color: #c4bcb3;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 34px));
  }
}

#page6:hover h1 {
  animation-play-state: paused;
}
